@import "~bootstrap/scss/bootstrap";

.navbar-3 {
    z-index: 9999 !important;
    padding: 0px 0px !important;
    background-color: transparent !important;

    .container-3 {
        padding: 0px !important;
        margin-top: 20px;
        margin-left: 50px;

        .brand-3 {
            margin-left: 5px;
        }

        .brand-3 span {
            color: #000 !important;
            font-family: 'Orbitron', sans-serif !important;
            position: relative;
        }

        .brand-3 img {
            height: 50px;
            width: 50px;
        }
          
    }
}