@import "~bootstrap/scss/bootstrap";


    .footer-bottom {
        font-family: 'Play', sans-serif;
        font-size: 15px;
        border-top: 1px solid #e2e7e9;
        padding-top: 5px;
        height: 50px;
        padding-top: 5px;
        margin: 0px;


            .footer-a {
                text-decoration: none;
                color: rgb(27, 24, 24);
                font-size: 19px;
                transition: all 0.2s;
            }
        
            .footer-a:hover {
                text-decoration: underline;
                padding: 5px;
            }  
    }

